<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.mind</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>08B60475-9673-43BF-9A3D-A7A1717B205B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD69D35F-F488-4674-B5B6-E39903A588E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DE85601-3476-4709-B3E4-75C3823C7C23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0C4C96A-60AF-4EA8-B55C-D7876DF1C39D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1045BA36-8906-4211-93ED-0EF761DBB912</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F062096-3846-4C20-941D-189420F45D80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16E1E8A2-735E-46AF-B366-07A41CD26E05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7370BC5F-BA83-4E41-B7F7-EE7BE456A72A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>682A0702-A6C8-455B-AA76-FFE51BCF7008</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>newest</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9235C46D-11B8-4D5B-9E45-2FD5DB241212</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>top - past week</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E284991-148C-4392-B977-EC824DDF46A4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>top - all time</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCE0056B-B6D9-49BD-A4CA-33E1C46435DD</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>wiki</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>231C2B54-1A37-4622-B4F3-C458CA7E8A16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F380EE7-5EE7-443F-8784-674E6BDDC3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>616E11AF-E559-4994-81C4-BCBBBEE85AB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85C659D0-5703-426F-96FD-178D5699E68A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63898482-0BE0-4D8A-9F16-8C6D685B4800</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F380EE7-5EE7-443F-8784-674E6BDDC3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>682A0702-A6C8-455B-AA76-FFE51BCF7008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DE830CB-A2E5-4753-BC5F-2FEFA35C469F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83068F5C-3CAB-4CA4-B9CC-869082C30325</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F380EE7-5EE7-443F-8784-674E6BDDC3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85C659D0-5703-426F-96FD-178D5699E68A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5703651B-7FAF-4BA2-9E98-F87053D7E257</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F380EE7-5EE7-443F-8784-674E6BDDC3D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7370BC5F-BA83-4E41-B7F7-EE7BE456A72A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9235C46D-11B8-4D5B-9E45-2FD5DB241212</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B34F98B-E97A-4E1B-8146-336D5673D48E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A0F22E9-22A4-4753-BB7A-A4388E40D259</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC21A3DD-D0F4-4950-92B6-DC2B21E0476C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C9A8566-4785-4BEA-8149-F1FDBCAC7FE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>752A07A8-F4C3-4AAA-9E65-D93CDEF5A130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E284991-148C-4392-B977-EC824DDF46A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AEB2758-9D4F-46B3-9866-F6CC8B67CD0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E7DAD20-1409-4D72-97AA-ADE32C85DAE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CEBEAFE-B081-4EB4-B5A9-3EF82C64DEEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F062096-3846-4C20-941D-189420F45D80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7370BC5F-BA83-4E41-B7F7-EE7BE456A72A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>08B60475-9673-43BF-9A3D-A7A1717B205B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>top - month</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E7DAD20-1409-4D72-97AA-ADE32C85DAE8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>top - week</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C9A8566-4785-4BEA-8149-F1FDBCAC7FE1</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>hot</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F651C0E9-8983-4C36-8D3E-AF223B032B3A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>featured</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DE85601-3476-4709-B3E4-75C3823C7C23</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>tags</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC21A3DD-D0F4-4950-92B6-DC2B21E0476C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>231C2B54-1A37-4622-B4F3-C458CA7E8A16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83068F5C-3CAB-4CA4-B9CC-869082C30325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63898482-0BE0-4D8A-9F16-8C6D685B4800</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB7D8323-F48D-404D-8651-950AA561101E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1ED5DA8-9820-408B-954A-B0F4ED5C447F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1045BA36-8906-4211-93ED-0EF761DBB912</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCE0056B-B6D9-49BD-A4CA-33E1C46435DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C770D7B1-0AEB-4525-A65B-E4730BF692FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB7D8323-F48D-404D-8651-950AA561101E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F380EE7-5EE7-443F-8784-674E6BDDC3D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1ED5DA8-9820-408B-954A-B0F4ED5C447F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16E1E8A2-735E-46AF-B366-07A41CD26E05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F651C0E9-8983-4C36-8D3E-AF223B032B3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC135D9A-0CA3-4622-AF16-4F08DB65767C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string>Search through my notes and bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred My Mind</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5703651B-7FAF-4BA2-9E98-F87053D7E257</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>wiki</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>616E11AF-E559-4994-81C4-BCBBBEE85AB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wiki</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./alfred-my-mind "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search wiki</string>
				<key>title</key>
				<string>nikivi's wiki</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85C659D0-5703-426F-96FD-178D5699E68A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:loc}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>lists/articles.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>231C2B54-1A37-4622-B4F3-C458CA7E8A16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:loc}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>lists/profiles.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>83068F5C-3CAB-4CA4-B9CC-869082C30325</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7370BC5F-BA83-4E41-B7F7-EE7BE456A72A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat $loc




</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F380EE7-5EE7-443F-8784-674E6BDDC3D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:loc}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>lists/slack.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>63898482-0BE0-4D8A-9F16-8C6D685B4800</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9A0F22E9-22A4-4753-BB7A-A4388E40D259</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>loc</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BC21A3DD-D0F4-4950-92B6-DC2B21E0476C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:loc}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>lists/web.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DB7D8323-F48D-404D-8651-950AA561101E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8DE830CB-A2E5-4753-BC5F-2FEFA35C469F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat $loc




</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16E1E8A2-735E-46AF-B366-07A41CD26E05</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}new/</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>682A0702-A6C8-455B-AA76-FFE51BCF7008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:loc}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>lists/reddit.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F1ED5DA8-9820-408B-954A-B0F4ED5C447F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4B34F98B-E97A-4E1B-8146-336D5673D48E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:loc}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>lists/stack.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1045BA36-8906-4211-93ED-0EF761DBB912</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat $loc




</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9F062096-3846-4C20-941D-189420F45D80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}top/?sort=top&amp;t=week</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9235C46D-11B8-4D5B-9E45-2FD5DB241212</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2AEB2758-9D4F-46B3-9866-F6CC8B67CD0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}top/?sort=top&amp;t=all</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9E284991-148C-4392-B977-EC824DDF46A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C770D7B1-0AEB-4525-A65B-E4730BF692FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}wiki/index</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CCE0056B-B6D9-49BD-A4CA-33E1C46435DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD69D35F-F488-4674-B5B6-E39903A588E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}?tab=month</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>08B60475-9673-43BF-9A3D-A7A1717B205B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6CEBEAFE-B081-4EB4-B5A9-3EF82C64DEEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}?tab=week</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9E7DAD20-1409-4D72-97AA-ADE32C85DAE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>752A07A8-F4C3-4AAA-9E65-D93CDEF5A130</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}?tab=hot</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9C9A8566-4785-4BEA-8149-F1FDBCAC7FE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BC135D9A-0CA3-4622-AF16-4F08DB65767C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}?tab=featured</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F651C0E9-8983-4C36-8D3E-AF223B032B3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:sub}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0C4C96A-60AF-4EA8-B55C-D7876DF1C39D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>sub</key>
					<string>{query}/tags</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0DE85601-3476-4709-B3E4-75C3823C7C23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to use this workflow are found in the GitHub repo attached to the workflow. 

Double click this workflow in sidebar -&gt; Open website.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>08B60475-9673-43BF-9A3D-A7A1717B205B</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>0DE85601-3476-4709-B3E4-75C3823C7C23</key>
		<dict>
			<key>xpos</key>
			<integer>990</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>1045BA36-8906-4211-93ED-0EF761DBB912</key>
		<dict>
			<key>note</key>
			<string>stack</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>16E1E8A2-735E-46AF-B366-07A41CD26E05</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>231C2B54-1A37-4622-B4F3-C458CA7E8A16</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2AEB2758-9D4F-46B3-9866-F6CC8B67CD0A</key>
		<dict>
			<key>note</key>
			<string>top - all time</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>4B34F98B-E97A-4E1B-8146-336D5673D48E</key>
		<dict>
			<key>note</key>
			<string>top - past week</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>5703651B-7FAF-4BA2-9E98-F87053D7E257</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>616E11AF-E559-4994-81C4-BCBBBEE85AB1</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>63898482-0BE0-4D8A-9F16-8C6D685B4800</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>682A0702-A6C8-455B-AA76-FFE51BCF7008</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>6CEBEAFE-B081-4EB4-B5A9-3EF82C64DEEF</key>
		<dict>
			<key>note</key>
			<string>top - week</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>1110</integer>
		</dict>
		<key>7370BC5F-BA83-4E41-B7F7-EE7BE456A72A</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>752A07A8-F4C3-4AAA-9E65-D93CDEF5A130</key>
		<dict>
			<key>note</key>
			<string>hot</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>1240</integer>
		</dict>
		<key>83068F5C-3CAB-4CA4-B9CC-869082C30325</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>85C659D0-5703-426F-96FD-178D5699E68A</key>
		<dict>
			<key>note</key>
			<string>Search wiki</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>8DE830CB-A2E5-4753-BC5F-2FEFA35C469F</key>
		<dict>
			<key>note</key>
			<string>newest</string>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>8F380EE7-5EE7-443F-8784-674E6BDDC3D6</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>9235C46D-11B8-4D5B-9E45-2FD5DB241212</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>9A0F22E9-22A4-4753-BB7A-A4388E40D259</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>9C9A8566-4785-4BEA-8149-F1FDBCAC7FE1</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
		<key>9E284991-148C-4392-B977-EC824DDF46A4</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>9E7DAD20-1409-4D72-97AA-ADE32C85DAE8</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>9F062096-3846-4C20-941D-189420F45D80</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>BC135D9A-0CA3-4622-AF16-4F08DB65767C</key>
		<dict>
			<key>note</key>
			<string>featured</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>1370</integer>
		</dict>
		<key>BC21A3DD-D0F4-4950-92B6-DC2B21E0476C</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>BD69D35F-F488-4674-B5B6-E39903A588E2</key>
		<dict>
			<key>note</key>
			<string>top - month</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>C770D7B1-0AEB-4525-A65B-E4730BF692FD</key>
		<dict>
			<key>note</key>
			<string>wiki</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>CCE0056B-B6D9-49BD-A4CA-33E1C46435DD</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>D0C4C96A-60AF-4EA8-B55C-D7876DF1C39D</key>
		<dict>
			<key>note</key>
			<string>tags</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>1520</integer>
		</dict>
		<key>DB7D8323-F48D-404D-8651-950AA561101E</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>F1ED5DA8-9820-408B-954A-B0F4ED5C447F</key>
		<dict>
			<key>note</key>
			<string>reddit</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>F651C0E9-8983-4C36-8D3E-AF223B032B3A</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>1400</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.6</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/alfred-my-mind#readme</string>
</dict>
</plist>
